.error {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: lighten($color: red, $amount: 30);
  color: lighten($color: red, $amount: 1);
  border-radius: 10px;

  span {
    margin-left: 20px;
  }
}
