@import "../variables";

.input-container {

  label {
    font-size: 1.5rem;
  }

  input {
    outline: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin: 5px;
    border: 2px solid #aaa;
    box-sizing: border-box;
    transition: 0.5s;
  }

  input:focus {
    border-color: dodgerblue;
    box-shadow: 2px 2px 2px $border-color;
  }
}
