@import "../variables";

.post-comp {
  padding: 20px;
  border: 1px solid $border-color;
  box-shadow: 10px 10px 10px $border-color;
  margin: 10px;
  border-radius: 20px;

  h1 {
    text-align: center;
    font-size: 2rem;
  }

  .icon {
    display: flex;
    flex-direction: row;
    margin: 5px 10px 0 0;
    justify-content: flex-end;

    p {
      margin-left: 4px;
    }

    .light {
      color: $text-secondary;
    }
  }

}
