@import "../variables";

.post-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2rem;
  max-width: 450px;
  border: 1px solid $border-color;
  box-shadow: 10px 10px 10px $border-color;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;

  .icon {
    display: flex;
    flex-direction: row;
  }
}
